@import "./styles/global.css";
@import "./styles/header.css";
@import "./styles/nav.css";
@import "./styles/home.css";
@import "./styles/product.css";
@import "./styles/cart.css";
@import "./styles/footer.css";
@import "./styles/admin.css";
@import "./styles/checkout.css";

